body{
    background-color: #0d0d0d;
    max-width: 100%;
}
.heading{
    text-align:center;
    color: #efefef;
}
.data{
    margin-left: 10%;
    justify-content:space-evenly;
    color: #efefef;
    margin-top: 3rem;
}
.content{
    text-align: justify;
    font-size: 1.5rem;
}
.subTitle{
    color: #4E7FFF;
}
.text-markup{
    background-color: #0d0d0d;
    color:#4E7FFF;
}
.properties{
    margin-right: 10%;
    line-height: 0.8;
    font-size: 1.5rem;
    margin-top: 4rem;
}
.prizes-heading{
    color:#4E7FFF;
   margin: 100%;
}
.prize{
    height: 6rem;
    width: 6rem;
    background-color: #efefef;
    border-radius: 50%;
    display:inline-flex;
    justify-content:space-around;
}
.cardf, .cardb{
    position: absolute;
    backface-visibility: hidden;
}
.cardb{
    background: #4E7FFF;
    transform: rotateX(180deg);
}
.inner{
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.prizes-dot:hover .inner{
   transform: rotateX(-180deg);
}
/*
.
{
    margin:0;
    padding:0;
}
body
{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    min-height: 100vh;
    background: #0d0d0d; 
    overflow: hidden;
}
.glowing
{
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}
@keyframes colorChange
{
    0%
    {
        filter:hue-rotate(0deg) ;
        transform: rotate(0deg);
    }
    100%
    {
        filter:hue-rotate(360deg) ;
        transform: rotate(360deg);
    }
}
.glowing:nth-child(even)
{
    transform-origin: left;
}
.glowing span
{
    position: absolute;
    top:calc(80px * var(--i));
    left:calc(80px * var(--i));
    bottom:calc(80px * var(--i));
    right:calc(80px * var(--i));
}
.glowing span:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background:#4E7FFF ;
  border-radius: 50%;
}
.glowing span:nth-child(3n + 1):before
{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0, 226,255, 1) ;
              0 0 40px rgba(0, 226,255, 1);
              0 0 60px rgba(0, 226,255, 1);
              0 0 80px rgba(0, 226,255, 1);
              0 0 0 8px rgba(0, 226,255, .1);
}
.glowing span:nth-child(3n + 2):before
{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0, 226,255, 1) ;
              0 0 40px rgba(0, 226,255, 1);
              0 0 60px rgba(0, 226,255, 1);
              0 0 80px rgba(0, 226,255, 1);
              0 0 0 8px rgba(0, 226,255, .1);
}
.glowing span:nth-child(3n + 3):before
{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0, 226,255, 1) ;
              0 0 40px rgba(0, 226,255, 1);
              0 0 60px rgba(0, 226,255, 1);
              0 0 80px rgba(0, 226,255, 1);
              0 0 0 8px rgba(0, 226,255, .1);
}
.glowing span:nth-child(3n + 4):before
{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0, 226,255, 1) ;
              0 0 40px rgba(0, 226,255, 1);
              0 0 60px rgba(0, 226,255, 1);
              0 0 80px rgba(0, 226,255, 1);
              0 0 0 8px rgba(0, 226,255, .1);
}
.glowing span:nth-child(3n + 5):before
{
  background: rgba(0,226,255,1);
  box-shadow: 0 0 20px rgba(0, 226,255, 1) ;
              0 0 40px rgba(0, 226,255, 1);
              0 0 60px rgba(0, 226,255, 1);
              0 0 80px rgba(0, 226,255, 1);
              0 0 0 8px rgba(0, 226,255, .1);
}
.glowing span:nth-child(3n + 1)
{
    animation: animate 7s alternate infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.glowing span:nth-child(3n + 2)
{
    animation: animate-reverse 7s alternate infinite;
}
@keyframes animate-reverse
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
.glowing span:nth-child(3n + 3)
{
    animation: animate 4s alternate infinite;
}
.glowing span:nth-child(3n + 4)
{
    animation: animate 4s alternate infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.glowing span:nth-child(3n + 5)
{
    animation: animate-reverse 4s alternate infinite;
}
@keyframes animate-reverse
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}