@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
     background: #000;  overflow: hidden;
   margin: 0px;
     padding: 0px;
     display: flex;
     justify-content: center; align-items: center;
 }


.section {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 5rem;
  background-color:#b00000; 
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  

}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: #fff;
}

/*.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}*/

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.major-content{
  position: absolute;
  background-color: #1b1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  width: 100%;
  left: 0;
  z-index: 5;
  color: white;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
  
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  left: 0;
  z-index: 5;
  overflow: scroll;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}



.overlay {
  
  width: 100%;
  min-height: 100vh;
  
  background-color: #1b1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  margin-top: -80px;
  position: relative;
}







.section.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.section.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.section.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.section.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #b00000;
}

.section.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.section.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.section.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.section.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.section.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

/*-----------------------------------------for mobile screens custom--------------------------------------*/

@media (max-width:660px) {
  .section.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
  }
  
  @keyframes main-animation {
    from {
      transform: translate(0);
    }
  
    to {
      transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
    }
  }
  
  .links {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  .links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
  }
  
  .links a:hover {
    color: #b00000;
  }
  
  .section.active .links a {
    animation: appear 0.5s forwards ease var(--i);
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes hide {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  
  .shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: white;
  }
  
  .shadow.one {
    z-index: -1;
    opacity: 0.15;
  }
  
  .shadow.two {
    z-index: -2;
    opacity: 0.1;
  }
  
  .section.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1100px) rotateY(20deg) translateZ(80px) scale(0.4);
  }
  
  @keyframes shadow-one {
    0% {
      transform: translate(0);
    }
  
    5% {
      transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
    }
  
    100% {
      transform: perspective(1100px) rotateY(20deg) translateZ(80px) scale(0.4);
    }
  }
  
  .section.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1100px) rotateY(20deg) translateZ(50px) scale(0.4);
  }
  
  @keyframes shadow-two {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
    }
  
    100% {
      transform: perspective(1100px) rotateY(20deg) translateZ(50px) scale(0.4);
    }
  }
  
  .section.active .main:hover + .shadow.one {
    transform: perspective(1100px) rotateY(20deg) translateZ(100px) scale(0.4);
  }
  
  .section.active .main:hover {
    transform: perspective(1100px) rotateY(20deg) translateZ(150px) scale(0.4);
  }
}



/*BUTTON CSS*/


.a-n2{ margin-top: 20px;
    text-decoration: none;
    position: absolute; 
    left: 50%;
    top: 108%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    overflow: hidden; 
    transition: 0.2s all;  
    color: #fff; 
    text-transform: uppercase; 
    letter-spacing: 4px;
    align-items: center;
    justify-content: center;
}

.a-n2 span{
    position: absolute;
    display: block;
}

.a-n2:hover{
    background:#b00000; color: #000;
    box-shadow: 0px 0px 10px #b00000, 0px 0px 40px#b00000, 0px 0px 80px #b00000; transition-delay: 0.2s;
}
.a-n2 span:nth-child(1){
    top: 0px;
    left: -91%;
    width: 100%;
    height: 2px;
    background: #b00000;
}
 
.a-n2:hover span:nth-child(1){
left:0%; 
    transition: 0.3s; 
}
.a-n2 span:nth-child(3){
    bottom: 0px;
    right: -91%;
    width: 100%;
    height: 2px;
    background: #b00000;
}
 
.a-n2:hover span:nth-child(3){
right:0%; 
    transition: 0.3s; 
}
.a-n2 span:nth-child(2){
    bottom: -70%;
    right: 0%;
    width: 2px;
    FONT-WEIGHT: 100;
    background: #b00000;
    height: 100%;
}
 
.a-n2:hover span:nth-child(2){
bottom:0%; 
    transition: 0.3s; 
}
.a-n2 span:nth-child(4){
    top: -70%;
    left: 0%;
    width: 2px;
    FONT-WEIGHT: 100;
    background: #b00000;
    height: 100%;
}
 
.a-n2:hover span:nth-child(4){
top:0%; 
    transition: 0.3s; 
}

.event_date{
  position: absolute;
  left: 49.8%;
  top: 132%;
  transform: translate(-50%, -50%);
  color: white;
  
}

.event_date > span{
  margin-left: 20px;
  justify-content: center;
  align-content: center;
  vertical-align: top;
  
}



/*-----------------------------------------CTF logo glitch effect--------------------------- */

#ctf_logo{
  position: relative;
  width: 250px;
  height: 250px;
  background: url(/static/images/ctf\ logo.png) no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#ctf_logo:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: url(/static/images/ctf\ logo.png) no-repeat;
  background-size: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

#ctf_logo:hover:before{
  animation: animate .8s linear infinite;
}
@keyframes animate{
    0%{
      background-position:0 0;
      filter:hue-rotate(0deg);
    }
    10%{
      background-position: 5px 0;

    }
    20%{
      background-position: -5px 0;
    }
    30%{
      background-position: 15px 0;
    }
    40%{
      background-position: 5px 0;
    }
    50%{
      background-position: -25px 0;
    }
    60%{
      background-position: -20px 0;
    }
    70%{
      background-position: 0 -20px;
    }
    80%{
      background-position: -25px -20px;
    }
    81%{
      background-position: 0 0;
    }
    100%{
      background-position: 0 0;
      filter: hue-rotate(360deg);
    }

    
}

/*----------------------------------------------------text glitch effect--------------------------------*/

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}
@keyframes noise-anim {
  0% {
    clip-path: inset(94% 0 2% 0);
 }
  5% {
    clip-path: inset(58% 0 20% 0);
 }
  10% {
    clip-path: inset(34% 0 39% 0);
 }
  15% {
    clip-path: inset(59% 0 28% 0);
 }
  20% {
    clip-path: inset(76% 0 7% 0);
 }
  25% {
    clip-path: inset(84% 0 3% 0);
 }
  30% {
    clip-path: inset(39% 0 44% 0);
 }
  35% {
    clip-path: inset(56% 0 1% 0);
 }
  40% {
    clip-path: inset(23% 0 52% 0);
 }
  45% {
    clip-path: inset(89% 0 11% 0);
 }
  50% {
    clip-path: inset(8% 0 26% 0);
 }
  55% {
    clip-path: inset(36% 0 61% 0);
 }
  60% {
    clip-path: inset(18% 0 10% 0);
 }
  65% {
    clip-path: inset(25% 0 29% 0);
 }
  70% {
    clip-path: inset(49% 0 29% 0);
 }
  75% {
    clip-path: inset(44% 0 45% 0);
 }
  80% {
    clip-path: inset(51% 0 30% 0);
 }
  85% {
    clip-path: inset(54% 0 22% 0);
 }
  90% {
    clip-path: inset(4% 0 39% 0);
 }
  95% {
    clip-path: inset(93% 0 4% 0);
 }
  100% {
    clip-path: inset(92% 0 4% 0);
 }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #1b1a1a;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(52% 0 14% 0);
 }
  5% {
    clip-path: inset(24% 0 29% 0);
 }
  10% {
    clip-path: inset(22% 0 14% 0);
 }
  15% {
    clip-path: inset(15% 0 4% 0);
 }
  20% {
    clip-path: inset(70% 0 26% 0);
 }
  25% {
    clip-path: inset(23% 0 16% 0);
 }
  30% {
    clip-path: inset(49% 0 31% 0);
 }
  35% {
    clip-path: inset(4% 0 58% 0);
 }
  40% {
    clip-path: inset(81% 0 1% 0);
 }
  45% {
    clip-path: inset(6% 0 57% 0);
 }
  50% {
    clip-path: inset(18% 0 29% 0);
 }
  55% {
    clip-path: inset(22% 0 37% 0);
 }
  60% {
    clip-path: inset(16% 0 83% 0);
 }
  65% {
    clip-path: inset(11% 0 12% 0);
 }
  70% {
    clip-path: inset(98% 0 1% 0);
 }
  75% {
    clip-path: inset(73% 0 1% 0);
 }
  80% {
    clip-path: inset(31% 0 69% 0);
 }
  85% {
    clip-path: inset(85% 0 2% 0);
 }
  90% {
    clip-path: inset(75% 0 19% 0);
 }
  95% {
    clip-path: inset(11% 0 30% 0);
 }
  100% {
    clip-path: inset(97% 0 1% 0);
 }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #1b1a1a;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}




/*-------------------------sponsor section bootstrap css------------------------------- */



.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.d-flex{
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-color: #b00000;
}

.pb-2{
  text-align: center;
  color: white;
  margin-top: 80px;
  height: 100px;
  margin-bottom: 50px;
  width: 518px;
  margin-left: auto;
  margin-right: auto;

}

.sponsors_socials{
  color: white;
}

/*-------------------------about section bootstrap css------------------------------- */




@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.lead_1{
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: medium;
}

.lead_2{
  color: white;
  padding-top: 5px;
  padding-bottom: 35px;
  font-size: medium;
}


/*-------------------------event carousel section bootstrap css------------------------------- */

#slider {
  position: relative;
  width: 50%;
  height: 35vw;
  margin: 150px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 15px 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}




#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}



/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}



/*------------------------------------------footer  css-------------------------------------------- */




.footer_list {
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
}

.footer_list li {
  list-style: none;
  margin: 0 15px;
}

.footer_list li a {
  position: relative;
  
  top: 0; 
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.footer_list li a::before {
  content: '';
  position: relative;
  top: 0;
  
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer_list li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.footer_list li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}